@import url('http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold');

/* layout */


#body {
  width: 900px;
  margin: 0 auto;
  border-left: solid 3px #EBEFF9;
  border-right: solid 3px #EBEFF9;
}
#nav, #main {
  text-align: left;
}
#nav {
  width: 180px;
  float: left;
}
#main {
  margin-left: 200px;
}

/* my styles */
.brand .logo {
  position: relative;
  top: 2px;
}
.navbar .nav {
  position: relative;
  top: 2px;
}

.navbar .navbar-inner {
  /*background-color: #000552;*/
  background-color: #eee;
  background-image: none;
}

body {
	font-family:'Open Sans', sans-serif;
	padding: 50px 0;
}

h1 {
	margin-bottom: 0.75em;
}

h1, h2, h3, h4, h5, h6 {
	/*color: #000666;*/
	color: #a30a0a;
}

h2 {
	border-bottom: solid;
	border-color: #000666;
	border-width: thin;
	padding-top: 0.5em;
	padding-bottom: 2px;
}

ul {
	list-style-type: square;
}

div.copyright {
	text-align: center;
	color: #000552;
	font-size: xx-small;
	padding-top: 10px;
}


div.note {
	border: solid #6669a3;
	border-width: thin thin thin 10px;
	padding: 0.5em;
	margin: 10px 0px;
}

.notetitle {
	display: block;
	font-weight: bold;
}



/*

#main {
  border-left: solid 3px #EBEFF9;
  padding: 0 15px;
}

#header {
  background-color: #EBEFF9;
}
#header h1 {
  padding: 5px;
  text-align: left;
}
#header a {
  color: black;
  text-decoration: none;
}
*/

/* navigation */

/*
#nav {
  padding-right: 5px;
  font-size: 12px;
}
#nav ul {
  padding-left: 15px;
  margin: 0;
  list-style: none;
}
#nav > ul > li > a,
#nav > ul > li > span {
  font-weight: bold;
}

*/

/*
#nav li:hover {
  background-color: #DDE5F9;
}


#header {
  clear: both;
}
#footer {
  clear: both;
}

hr {
  display: none;
}
*/

/* styles */

a {
  text-decoration: none;
}
a:visited {
  color: blue;
}
a:hover {
  text-decoration: underline;
}

/*
.note {
  padding: 0 15px;
}
*/
